In [1]:
mystring = 'Hello World'
mystring[7] #mystring[7] == mystring[-2]

'o'

SLICING

In [6]:
mystring = 'abcdefghijk'
mystring[2:] # == cdefghijk
mystring[:3] # goes up to last index but doesnt actually use it
             # == abc
mystring[3:6]# == def
mystring[::2]# == acegik >>>>> [(start):(upto):(step size)]
mystring[::-1]# reverses string

'acegik'

CONCATENATION AND STRING METHODS

In [16]:
name = "Sam"
# name[0] = 'P' >>>> DOES NOT WORK just like C need to concatenate
last_letters = name[1:]
last_letters
name = 'P' + last_letters 
name # Pam
letter = 'z'
letter * 10 # == zzzzzzzzzz
x = 'Hello World'
#x.upper()  uppercases string
x.split() # == ['Hello', 'World']
x = 'Hi this is a string'
x.split('i') # ['H', ' th', 's ', 's a str', 'ng'] ** this is a list

['H', ' th', 's ', 's a str', 'ng']

FORMAT METHODS

In [17]:
# 'String here{} then also {}'.format('something1','something2')
print('This is a string {}'.format('INSERTED')) #Will insert into the curly brace

This is a string INSERTED

In [19]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [20]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [21]:
#FLOAT FORMATTING {value:width.precision f}
result = 100/777
result

0.1287001287001287

In [23]:
print('The result was {r:1.3f}'.format(r=result))
#just like the c formatting from year 1

The result was 0.129

In [24]:
name = 'Jose'
print(f'Hello, his name is {name} ') #this is way better just add an f in front of the string

Hello, his name is Jose

LISTS

In [25]:
my_list = [1,2,3]

In [33]:
my_list[0:2]
#indexing and slicing works the same way
second_list = [4,5]
new_list = my_list + second_list
new_list[0] = 'ONE'
new_list

['ONE', 2, 3, 4, 5]

In [35]:
#append adds item at the end of the lsit
new_list.append(6)

In [36]:
new_list

['ONE', 2, 3, 4, 5, 6]

In [37]:
new_list.pop()

6

In [38]:
new_list

['ONE', 2, 3, 4, 5]

In [39]:
new_list.pop(0)

'ONE'

In [41]:
new_list
num_list = [8,3,6,4,1]

In [42]:
num_list.sort()
num_list

[1, 3, 4, 6, 8]

DICTIONARIES

In [43]:
#{'key1':value1,'key2':value2}
prices_lookup = {'apple':0.87,'orange':0.99,'milk':4.70}

In [44]:
prices_lookup['apple']

0.87

In [45]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}
d['k2']

[0, 1, 2]

In [46]:
d['k3']

{'insideKey': 100}

In [47]:
d['k3']['insideKey']

100

In [ ]:
#TUPLES (immutable)

In [1]:
t = (1,2,3)
list = [1,2,3]

In [5]:
t = ('a','a','b')
t.count('a')# == 2
t.index('a') # == 0

0

SETS IN PYTHON

In [9]:
myset = set()
myset.add(1)
myset
myset.add(2)
myset

{1, 2}

In [11]:
mylist= [1,1,1,1,1,1,1,1,1,2,2,2,3,3,3,3]
set(mylist)
set('Mississippi')

{'M', 'i', 'p', 's'}

FILES

In [13]:
%%writefile myfile.txt
Hello this is a text file 
this is the second line
this is the third line

Overwriting myfile.txt

In [14]:
myfile = open('myfile.txt')

In [16]:
myfile.read()

'Hello this is a text file \nthis is the second line\nthis is the third line\n'

In [22]:
myfile.seek(0)
contents = myfile.read()
contents

'Hello this is a text file \nthis is the second line\nthis is the third line\n'

In [24]:
myfile.seek(0)
myfile.readlines()

['Hello this is a text file \n',
 'this is the second line\n',
 'this is the third line\n']

In [26]:
#better way to open
myfile.close()
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [27]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('\n Four on fourth')

In [28]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

 Four on fourth

ELIF AND ELSE

In [30]:
hungry = False
if hungry:
    print('true')
else:
    print('im not fat')

im not fat

FOR LOOPS

In [35]:
mylist = [1,2,3,4,5,6,7,8,9,0]
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd bitch: {num}')

    #in C for(int i, i < 10, i++){
    # printf(mylist[i]);
    # }

odd bitch: 1
2
odd bitch: 3
4
odd bitch: 5
6
odd bitch: 7
8
odd bitch: 9
0

In [38]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [39]:
tup = (1,2,3)
for thing in tup:
    print(thing)

1
2
3

In [45]:
mylist = [(1,2),(3,4),(5,6)]
for a,b in mylist:
    print(a)
    #print(b)
    #print(a,b)

1
3
5

In [52]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items():
    print(key)
   # print(value)

k1
k2
k3

WHILE LOOPS

In [54]:
x=0

while x < 5:
    print(f'the current value of x is {x}')
    x += 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [56]:
#break: breaks out of current closest enclosing loop
#continue: goes to the top of the closest enclosing loop
#pass: does nothing at all
x=[1,2,3]
for item in x:
    pass

In [59]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

#i know how to use break

S
m
m
y

USEFUL OPERATORS

In [2]:
mylist = [1,2,3]
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
index = 0

for letter in 'abcde':
    print(f'At index {index} the letter is {letter}')
    index += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [5]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [6]:
word ='abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [7]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [9]:
'x' in 'x,y,z'
'a' in 'a world of suffering'

True

In [10]:
mylist = [10,20,30,40,100]
min(mylist)
max(mylist)

100

In [13]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)
mylist #cannot assign shuffle to anything ``

[1, 6, 9, 3, 5, 4, 7, 8, 2]

In [14]:
from random import randint
randint(3,9)

6

In [18]:

#the type of input is string 
result = input('Enter a number here: ')
type(result)
#if you want the input to be a num you need to change its type
int(result)

25

LIST COMPREHENSIONS

In [20]:
mystring = 'hello'
list1 = list(mystring)
list1

['h', 'e', 'l', 'l', 'o']

In [23]:
mystring
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [24]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]