METHODS

In [5]:
mylist= [1,2,3]
mylist.insert(2,1)
mylist

#basically just search them up

[1, 2, 1, 3]

FUNCTIONS

In [10]:
#already know this basically

def say_hello():
    print('Hello')

say_hello()

def say_name(name = 'Arshvir'):
    print(f'Hello {name}')

say_name()

Hello
Hello Arshvir

In [13]:
#tuple unpacking with functions

stock_prices = [('APPLE',200),('GOOGLE',150),('MICROSOFT',270)]
for ticker,price in stock_prices:
    print(price)

200
150
270

In [14]:
work_hours = [('abby',100),('billy',400),('cassie',800)]

def cotm(work_hours):
    current_max = 0
    employee_otm = ''

    for employee,hours in work_hours:
        if work_hours > current_max:
            current_max = work_hours
            employee_otm = employee
        else:
            pass

    return(employee_otm, current_max)

In [20]:
def myfunc(name):
     print(f'Hello {name}')

myfunc('Arsh')

Hello Arsh

**args and **kwargs

In [22]:
#arguments and key word arguments

def myfunc(*args):
    return sum(args) * 0.05
myfunc(40,60,100)

10.0

In [ ]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruits')

In [5]:
def myfunc(*args, **kwargs):
    print('I would like {} {}'.format(args[0],kwargs['food']) )
    print(args)
    print(kwargs)
myfunc(10,20,30,fruit = 'orange', food = 'eggs', animal = 'dog')

I would like 10 eggs
(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}

In [8]:
def myfunc(some_string):
    manipulated_string = ''
    for index,letter in enumerate(some_string):
        
        if index % 2 == 0:
            manipulated_string += letter.lower()
        else:
            manipulated_string += letter.upper()
            
    return manipulated_string

In [17]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    
    else:
        return max(a,b)
    
lesser_of_two_evens(2,5)

5

In [41]:
def animal_crackers(text):
    wordlist = text.lower().split()
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False
    # same thing as return wordlist[0][0] == wordlist[1][0]
animal_crackers('Crazy cunt')

True

In [49]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    else:
        if n1+n2 == 20:
            return True
        else:
            return False
        # return (n1+n2) == 20 or n1 ==20 or n2==20
makes_twenty(20,8)

True

In [53]:
def cap_func(some_word):
    result = ''
    for index,letter in enumerate(some_word):
        if index == 0 or index == 3:
            result += letter.upper()
        else:
            result += letter
    return result

cap_func('buddy')

'BudDy'

In [59]:
def rev_string(some_string):
    wordlist = some_string.split()
    rev_wordlist = wordlist[::-1]
    return ' '.join(rev_wordlist)
     

rev_string('i am home')

'home am i'

In [76]:
def has_3(user_list):
    for index,num in enumerate(user_list):
        # if user_list[index] == 3 and user_list[index-1] == 3:
        #     return True
        # else:
        #     return False
         return user_list[index] == 3 and user_list[index-1] == 3

has_3([3,1,3,1])

False

In [78]:
def extra_letter(word):
    new_word=''
    for letter in word:
        new_word += letter * 3
    return new_word

extra_letter('mississippi')

'mmmiiissssssiiissssssiiippppppiii'

In [88]:
def blackjack(n1,n2,n3):
    if sum([n1,n2,n3]) <= 21:
        return sum([n1,n2,n3])
    elif sum([n1,n2,n3]) > 21:
        if n1 == 11 or n2 == 11 or n3 == 11:
            adjusted = sum([n1,n2,n3]) - 10
            if adjusted <= 21:
                return adjusted
            else:
                return 'BUST'
            
        else: 
            return 'BUST'
        
blackjack(9,9,11)

19

In [95]:
def spy_game(user_list):
    bond = ''
    for num in user_list:
        if num == 0:
            bond += '0'
        elif num == 7:
            bond += '7'
        else:
            continue

    return bond == '007'

spy_game([1,0,0,1,1,1])

False

LAMBDA EXPRESSIONS MAP AND FILTER

In [98]:
def square(num):
    return num ** 2

my_nums = [1,2,3,4,5]
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [101]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]
    
names = ['Andy','Eve','Nik']
list(map(splicer,names))

['EVEN', 'E', 'N']

In [108]:
def check_even(num):
    return num % 2 == 0

mynums = [1,2,3,4,5,6]
list(filter(check_even,mynums))

[2, 4, 6]

In [109]:
def square(num):
    result = num ** 2
    return result
#lambda expression
lambda num: num ** 2

In [110]:
list(map(lambda num: num **2,mynums))

[1, 4, 9, 16, 25, 36]

In [113]:
list(filter(lambda num: num % 2==0,mynums))

[2, 4, 6]

DISPLAYING INFORMATION

In [3]:
def board(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

row = [' ', ' ', ' ']
board(row,row,row)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']